<nav class="p-3 mb-2 bg-black text-white rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome to your beautiful movie list management application</a>
  </div>
</nav>
<br>
<h4>Your Lists</h4>
<br>
<div class='btn btn-dark'><%= link_to 'Create a new list', new_list_path, class:"text-decoration-none text-light" %></div>
<br>
<br>
<ul class="list-group list-group-flush w-50">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= link_to list.name, list_path(list), class:"text-decoration-none text-dark" %></li>
  <% end %>
</ul>
<br>


  <%= cl_image_tag"aakk9c9n4ifvxvdmvbzp",
      width: 400, height: 300, crop: :fill %>
